#index-body{
    margin: 18% 40%;
}
#index-body > div{
    border-bottom: 1px dotted black;
    border-top: 1px dotted black;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 14px;
    font-size: 32px;
    padding: 60px 0;
}
#index-body a{
    text-decoration: none;
    color: black;
    transition: 0.15s ease-in;
    
}
#index-body a:hover{
    transform: scale(1.2);
    padding: 7px;
    color: hsl(250, 50%, 30%);
    text-decoration: underline;
}